
/* EatnGreet Colour Scheme */
body {
	--c0: white;
	--c1: #c8bebe;
	--c2: #2e2925;
}

@font-face {
	font-family: opi;
	src: url(fonts/opi.ttf);
}

h1{
	font-family: opi;
	color: var(--c0);
}

h2{
	color: var(--c0);
}

body {
	background-color: var(--c1);
	margin:0;
}

.centered {
	margin: auto;
	width: 50%;
	padding: 10px;
	padding-top: 50px;
	text-align: center;
}

.centered img{
	margin: 10px;
}

/* Search field on home screen */
.search input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

/* Search button for search field on home screen */
.search button{
	padding: 6px 10px;
	margin-top: 8px;
	margin-left: -4px;
	margin-right: 16px;
	padding-bottom: 9px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

/* Navbar container */
.navbar123 {
	overflow: hidden;
	background-color: var(--c2);
	font-family: Calibri;
}

/* Links inside the navbar */
.navbar123 a {
	float: right;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.home {
	float:left !important;
}

/* The dropdown container */
.dropdownEAT {
	float: right !important;
	overflow: hidden !important;
}

/* Dropdown button */
.dropdownEAT .dropbtnEAT {
	font-size: 16px !important;
	border: none !important;
	outline: none !important;
	color: white !important;
	padding: 14px 16px !important;
	background-color: inherit !important;
	font-family: inherit !important; /* Important for vertical align on mobile phones */
	margin: 0 !important; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar123 a:hover, .dropdownEAT:hover .dropbtnEAT {
	background-color: #463c37;
}

/* Dropdown content (hidden by default) */
.dropdown-contentEAT {
	right: 0 !important;
	float: left !important;
	display: none !important;
	position: absolute !important;
	background-color: #f9f9f9 !important;
	min-width: 160px !important;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
	z-index: 1 !important;
}


.button512 {
	color: #000;

}

/* Links inside the dropdown */
.dropdown-contentEAT a {
	float: none  !important;
	color: black !important;
	padding: 12px 16px !important;
	text-decoration: none !important;
	display: block !important;
	text-align: left !important;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-contentEAT a:hover {
	background-color: #ddd !important;
}

/* Show the dropdown menu on hover */
.dropdownEAT:hover .dropdown-contentEAT {
	display: block !important;
}

.inner {
	background: var(--c2);
	margin: auto;
	width: 50%;
	padding: 10px;
	padding-top: 10px;
	text-align: left;
	color: var(--c0);
}

.inner input {
	width: 100%;
	clear: both;
}